.main-nav{
    margin-top: 10px;
    list-style: none;
    padding: 10px;
    background-color: black;
}

.main-nav__item{
    display: inline-block;
}

.main-nav__item a {
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}
/* Pseudo-clases */
.main-nav__item a:hover {
    color: blue;
}

.main-nav__item a:active{
    color: green;
}



/* Pseudoelementos */
.main-nav__item a::after{
    content: " |  ";
}

.main-ul__item a::before{
    content: " + ";
}

p::first-letter{
    font-size: 250%;
}

#main-section__p::first-line{
    color: red;
}

#main-section__p::selection{
    background-color: aqua;
}

input::placeholder {
    color: brown;
    font-size: large;
    font-style: italic;
}

